.main3{
    grid-column: 1 / -1;

    overflow: hidden;
    display: grid;
    grid-template-columns: 60vw 40vw;
}

@media only screen and (max-width: 885px){
    .main3{
        display: grid;
        grid-template-columns: 25vw 25vw 25vw 25vw;
    }
}