.main2picture{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Grey shape behind image */

.picture-shape{
    position: relative;
    justify-self: center;
    overflow: hidden;
}

.picture-shape::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-grey-light);
    z-index: -1;
    animation: shapeAnimation 1.3s cubic-bezier(1,0,0,1);
}

/* Eye image on top of grey shape */
.picture-image{
    display: block;
    height: 100%;
    width: 0;
    animation: pictureAnimation .25s .65s ease-in forwards;
}

/* Trigger the animations when the object is in view*/
/* The class hidden hides our objects before we see them*/
.hiddenShape,
.hiddenImage{
    width: 0;
}

@media only screen and (max-width: 885px){
    .main2picture{
        grid-column: 2 / 4;
        grid-row: 1 / 2;

        opacity: 0.5;
    }
}

/* ANIMATIONS */
@keyframes shapeAnimation {
    0%{
        transform: scaleY(0);
    }
    30%{
        transform: scaleY(1);
        width: 10px;
    }
    50%{
        transform: scaleY(1);
        width: 100%;
    }
    100%{
        transform: scaleY(1);
        width: 100%;
    }
}

@keyframes pictureAnimation {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}