.main1picture{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main1picture-big{
    position: absolute;
    margin: auto;
    height: auto;
    width: 40%;
}

.main1picture-small{
    position: absolute;
    margin: auto;
    height: auto;
    width: 15%;
}

.main1picture-orangeLeaf{
    position: absolute;
    height: auto;
    width: 17%;
    z-index: 2;

    top: 70%;
    right: 30%;
}

.main1picture-redLeaf{
    position: absolute;
    height: auto;
    width: 17%;
    z-index: 2;

    top: 23%;
    right: 50%;
}

@media only screen and (max-width: 885px){
    .main1picture{
        grid-column: 2 / 4;
        grid-row: 1 / 2;

        opacity: 0.5;
    }
}