.main2content{
    font-family: serif;
    font-weight: 600;
    line-height: 1.5;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    margin-top: 35rem;
}

.main2content__title{
    text-align: justify;
    position: relative;
    font-size: 3rem;
    margin-right: 15rem;
}

.main2content__text{
    font-size: 1.5rem;
    color: var(--color-grey-dark);
    -moz-column-count: 2;
    -moz-column-gap: 4rem;

    column-count: 2;
    column-gap: 4rem;

    margin-top: 7rem;
    margin-right: 15rem;
    margin-left: 15rem;
}

.main2content__text-underlined{
    padding-top: 2rem;
    padding-bottom: 2rem;
}