:root{

  --color-black:        #2E2E2E;
  --color-grey-light:   #DADAD9;

  --color-grey-dark:    rgb(141, 139, 138);

  --color-pink:         #f4b6a4;

  --font-primary: 'Open Sans', sans-serif;
  --font-title: 'Times New Roman', Times, serif;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /* So that 1rem = 10px (10px/16px (browsers default) = 62.5% -> 1rem = 10px */
}

body{
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-primary); 
  background-color: var(--color-grey-light-1);
}

.App{
  display: grid;
  grid-template-rows: [header-start] 6rem  [header-end main1-start] calc(100vh - 6rem) [main1-end main2-start] 100vh [main2-end quote-start] 40vh [quote-end main3-start] 100vh [main3-end]; 
}

