.main1content{
    font-family: serif;
    font-weight: 600;
    line-height: 0.9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(40%);
    z-index: 3;
}

.main1content__title{
    text-align: right;
    position: relative;
    font-size: 10rem;
}
