.header{
    background-color: white;
    grid-column: 1 / -1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*---------------------------------*/
/* LOGO */
.header__logo{
    height: 5rem;
    margin-left: 20rem;
}

/* NAVIGATION */
.header__navigation{
    margin-right: 20rem;
    display: flex;
    flex-direction: row;
}

.header__navigation li {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.8rem;
    cursor: pointer;
}

@media only screen and (max-width: 885px){
    .header__logo{
        height: 5rem;
        margin-left: 10rem;
    }
    
    .header__navigation{
        margin-right: 10rem;
    }
}

@media only screen and (max-width: 500px){
    .header__logo{
        height: 5rem;
        margin-left: 3rem;
    }
    
    .header__navigation{
        margin-right: 3rem;
    }
}

@media only screen and (max-width: 450px){
    .header__logo{
        height: 4rem;
        margin-left: 0rem;
    }
    
    .header__navigation{
        margin-right: 0rem;
    }
}